* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: repeating-radial-gradient(#606060, #262626);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.mainLoading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient(#606060, #262626);
}
.simbolToDoLoading {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 21px;
  margin-bottom: 50px;
  transform: translateX(-4px);
}
.iconTodoLoading {
  color: #fff;
  margin-bottom: 2px;
  font-size: 26px;
}
