/* ------------ DEMO ADDTODO y ADDTODOLIMIT COMPONENT ------------ */
.contentAddToDo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  padding: 20px;
  padding-left: 40px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 30px;
}
.contentAddToDoLimit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  padding: 20px;
  padding-right: 40px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.titleDemo {
  width: 100%;
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
  color: #3f51b5;
}
.descriptionDemo {
  width: 100%;
  font-size: 12px;
  text-align: left;
  margin-bottom: 20px;
  color: #010122;
}
.imgAddToDo {
  height: 300px;
  width: auto;
  border-radius: 5px;
}

/* ------------ DEMO ADD TODO LIMIT COMPONENT ------------ */

@media (min-width: 900px) {
  .titleDemo {
    font-size: 16px;
  }
  .descriptionDemo {
    font-size: 14px;
  }
  .contentAddToDo {
    /* width: 400px; */
    height: fit-content;
    border-radius: 2px;
    padding: 20px;
    margin: 0;
  }
  .contentAddToDoLimit {
    height: fit-content;
    /* width: 400px; */
    border-radius: 2px;
    padding: 20px;
    margin: 0;
  }
}
