.articleTask {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 0.5px solid #777777;
  font-family: "Open Sans", sans-serif;
}

.divContainName {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 2px;
}
.divContainButtons {
  position: absolute;
  right: 10px;
  top: 3px;
  height: 100%;
  display: flex;
  align-items: center;
}

.btntaskFinished {
  background: none;
  outline: none;
  border: none;
  font-size: 21px;
  margin: 0 5px;
  color: #ffffff;
  cursor: pointer;
}

.btnDeleteTask {
  background: none;
  outline: none;
  border: none;
  font-size: 23px;
  margin: 0 5px;
  color: #e84a4a;
  /* transform: translateY(1.4px); */
  cursor: pointer;
}
.spanTime {
  margin-right: 20px;
}

.divContainDescription {
  width: 70%;
  margin: 0 6px;
  padding: 0px 10px;
}
.description {
  overflow: auto;
  font-size: 11px;
  color: #eee;
}

@media (min-width: 900px) {
  .articleTask {
    width: 50%;
  }
}
