.sectionTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  border-radius: 2px;
  outline: 2px solid #f42;
  background-color: #d87;
  margin-bottom: 20px;
}

.articleTask {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 5px 15px;
  z-index: 100;
  border-bottom: 1px solid #c43;
}

.nameTask {
  text-decoration: line-through #f42a 2px;
  margin-bottom: 5px;
}

.description {
  font-size: 11px;
  font-weight: lighter;
}

.btnShowDescriptionTask {
  position: absolute;
  top: 3px;
  right: 20px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.iconShowDescription {
  font-size: 23px;
}
@media (min-width: 900px) {
  .sectionTask {
    width: 50%;
  }
}
